<div class="container">
  <div class="row">
    <div class="span3">
      <img src="holder.js/256x256"></img>
      <%#= image_tag @profile_image_url, :class => "img_polaroid" %>
    </div>
    <div class="span9">
      <h3><%= @profile.username %></h3>
      <p><%= @profile.description %></p>
      <% if @profile.id == current_user.id then %>
        <%= link_to 'Edit Profile', edit_profile_path(@profile) , :class => "btn pull-right" %>
      <% else %>
        <%= link_to 'Follow', "/follow/new", :id => current_user.id, :class => "btn pull-right" %>
      <% end %>
    </div>
  </div>
  <% if current_user.id == @profile.user_id then %>
    <div class="row">
      <div class="span3"><!-- sidebar -->
        <!-- friends -->
        <%= render "profiles/follow" %>
      </div>
      <div class="span9"><!-- my contents -->
        <hr>
        <ul class="nav nav-tabs" id="mainTab">
          <li class="active"><a href="#posts" data-toggle="tab">Posts</a></li>
          <li><a href="#messages" data-toggle="tab">Messages</a></li>
        </ul>
        <div class="tab-content">
          <div class="tab-pane active" id="posts">
            <%= render "profiles/posts", posts: @posts %>
          </div>
          <div class="tab-pane" id="messages">
            <%= render "profiles/message" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>